[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
beautifulsoup4 = "*"
requests = "*"
mysql-connector-python = "*"
shed = "*"
schedule = "*"
aioschedule = "*"
psycopg2-binary = "*"
psycopg2 = "*"
black = "==20.8b1"

[dev-packages]

[requires]
python_version = "3.7"
